*.env
*.swp
*.tfstate
*.backup
*.tfstate.backup
*.tfstate.MANUAL-BACKUP
*.pem
.terraform/
venv/
VoteWave_RepoTreeLocalFiles/
*Zone.Identifier
*.DS_Store
*Thumbs.db
*.png
*.jpeg
*.jpg
*.3dev
*.txt
*.sh
*.log
